@charset "tf-8";

@font-face {
 font-family:MAOZE;
src: url("../fonts/Maoze-Regular.ttf") format("truetype");
font-family:PlayfairDisplay-Bold;src: url(../fonts/PlayfairDisplay-Bold.ttf) format("truetype");
font-family:PlayfairDisplay-Regular;src: url(../fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
:root {
    --cor-fundo: #EFF5EE;
    --cor-terciaria: #CCCACD;
    --cor-destaque: #8E7642;
    --cor-accento: #9DAFB9;
    --cor-escuro: #122640;
    --font-padrao: MAOZE, serif;
    --font-titulo: 'PlayfairDisplay-Bold', serif;
    --font-normal:PlayfairDisplay-Regular
 }


.Brand-area {
    position: relative; 
    width: 100%;
    min-height: 60px;
    margin: 0%;
}
.Brand-area h1 {
  position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
    min-width: 250px;
    text-align: right;
}

.socials-contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-sobre-mim {
    display:flex ;
}

.container-sobre-mim {
    display: flex;
    margin-right: 20px;
    align-items: center;
    text-align: justify;
    padding: 10px;
}
.socials-contact a {
    margin: 0; 
    padding: 0px 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}


.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
header {
    background-color:#1A2847;
    font-family: var(--font-titulo);    
    color: var(--cor-destaque);
    text-align: center;
    padding: 0px;   
    display: flex;
    align-items: center;
    max-width:none; 
    min-width: none;
    margin: auto;
    white-space: nowrap;  
}

header img {
    background-color: var(--cor-escuro);
    height: 70px; 
    position: inherit;
    display: inline-block; 
    margin: auto;    
}

header h1 {
    background-color:#1A2847;
    margin: auto;
    display: inline-block; 
    color: var(--cor-destaque);
    font-size: medium;
    padding:10px;
}

header a {
    color: var(--cor-fundo);
    text-decoration: none;
    margin: auto;
    font-size: medium;
    padding:10px;

}
.container-hero {
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
}

.container-hero h2 {
    position: absolute; 
    top: 25%;
    background-color:#12264049 ;
    color: rgb(253, 252, 252); 
    padding: 10px;
    margin: 0; 
    max-width: 100%;
    width: 100%;
    height: 50%;    
    position: center;
}

body {
    background-color: var(--cor-fundo);
}

main {
    background-color:var(--cor-fundo);
    padding: 0px;
    max-width: 100%; 
    min-width: 100%;
    margin: auto;
}

.img1 {
    max-width: 100%;
    height: 300px;
    width:100%;
    margin: 10px 0;
}
.img2 {
    border-radius:18px 18px 0 18px;
    width: 200px;
    height: auto;
    margin-right: 20px;
    box-shadow: 0 0 15px 6px rgba(9, 27, 68, 0.466); 
}

footer {
    background-color:var(--cor-escuro);
    padding: 20px;
    max-width: none;
    min-width: none;
    margin: auto;
   
}
footer p {
    color:var(--cor-fundo);
    background-color: var(--cor-escuro);
    margin: auto;
    padding: 0px;
    text-align: center;
}
.container-footer > p > a {
    color: #8e887a;
    text-decoration: none;
}
.container-contatos {
    background-color: var(--cor-fundo);
    border-radius: 0px ;
    margin: auto;
    padding: 10px;
    
}
.container-contatos h2 {
    background-image: linear-gradient(to right, var(--cor-fundo), var(--cor-escuro) , var(--cor-fundo));
    font-family: var(--font-titulo);
    color:var(--cor-destaque);
    background-color: var(--cor-escuro);
    padding: 5px;   
    text-align: center;
}
.container-contatos p {
    text-align: center;
    color: var(--cor-escuro);
    margin: 10px auto 10px auto;
}
.container-contatos a {
    color: var(--cor-destaque);
    text-decoration: none;
}
.lista-contatos {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

p {
    background-color: var(--cor-fundo);
    font-family: var(--font-padrao);
    color: var(--cor-escuro);
    line-height: 1.6;
}
h1 {
    background-color: var(--cor-fundo);
    color : var(--cor-destaque);
    font-family: var(--font-titulo);
}
h2, h3 {
    background-color: var(--cor-fundo);
    color : var(--cor-destaque);
    font-family: var(--font-titulo);
    text-align: center;
}

aside {
    background-color:var(--cor-destaque);
    color: var(--cor-escuro);
    padding: 10px;
}

.video-praia {
     background-image: linear-gradient(to right, var(--cor-fundo), var(--cor-escuro) , var(--cor-fundo));
     display: flex;
    justify-content: center;
    align-items: center;
    
}

.video-container {
     background-image: linear-gradient(to right, var(--cor-fundo), var(--cor-escuro) , var(--cor-fundo));
    padding: 20px;
    padding-bottom: 50%;
    margin: 0 auto;
    position: relative;
}

.video-container > iframe {
    position: absolute;
    top: 5% ;
    left: 5%;
    width: 90%;
    height: 90%;
}

@media (max-width: 768px) {
    .container-header {
        flex-direction: column; 
        padding: 10px;
    }
    .container-sobre-mim {
        flex-direction: column; 
        text-align: center; 
        margin-right: 0;
    }
    .img2 {
        margin: 10px auto; 
    }
}